<div class="jumbtron">
    <!-- <h1 class="display-4 text-center">
        User Register
    </h1> -->
    <hr>
    <div class="row">
        <div class="col-md-12">
                <app-user></app-user>

        </div>
      
    </div>
    <div class="row">
    <div class="col-md-12">
            <!-- <app-user></app-user> -->

            <app-userlist>
                
            </app-userlist>
    </div>
    </div>
</div>





<!-- <form #form="ngForm" (submit)="onSubmit(form)">

        <div class="form-group">
         <label>FirstName</label>
          <input name="FirstName" [(ngModel)]="service.formUser.FirstName" #FirstName="ngModel" class="form-control">
        </div>
        <div class="form-group">
            <label>LastName</label>
            <input name="LastName" [(ngModel)]="service.formUser.LastName" #LastName="ngModel" class="form-control">
          </div>
          <div class="form-row">
              <div class="form-group col-md-6">              
                  <label>EmployeeId</label>
                  <input name="EmployeeId" [(ngModel)]="service.formUser.EmployeeId" #EmployeeId="ngModel" class="form-control">
              </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-lg btn-block">SUBMIT</button>
          </div>
      </form> -->
<!-- 
      <form #form="ngForm" (submit)="onSearch(form)">
            <button type="submit" class="btn btn-lg btn-block">Search</button>
       <table class="table table-hover">
        <tr *ngFor="let usr of service.listUser">
          <td>{{usr.FirstName}}</td>
        </tr>

       </table>
   

      </form> -->

<!-- 
<form #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-group row">
  <div  class="col-sm-3">
      <label for="lblTask" class="col-sm-1 col-form-label" style="padding-left: 270px;" >FirstName:</label>
     
  </div>
  <div  class="col-sm-3" > -->
      <!-- <input type="text" id="txtTask2" style="width: 100%"> -->
      <!-- <input name="FirstName" [(ngModel)]="service.formUser.FirstName" #FirstName="ngModel" class="form-control" style="width: 100%">
    </div>
  <div  class="col-sm-6" >
  </div>
    </div>

    <div class="form-group row">
        <div  class="col-sm-3">
            <label for="lblTask" class="col-sm-1 col-form-label" style="padding-left: 270px;" >LastName:</label>
        </div>
        <div  class="col-sm-3" > -->
            <!-- <input type="text" id="txtTask2" style="width: 100%"> -->
            <!-- <input name="LastName" [(ngModel)]="service.formUser.LastName" #LastName="ngModel" class="form-control" style="width: 100%">
        </div>
        <div  class="col-sm-6" >
        </div>
          </div>

          <div class="form-group row">
              <div  class="col-sm-3">
                  <label for="lblTask" class="col-sm-1 col-form-label" style="padding-left: 270px;" >EmployeeId:</label>
              </div>
              <div  class="col-sm-3" > -->
                  <!-- <input type="text" id="txtTask2" style="width: 100%"> -->
                  <!-- <input name="EmployeeId" [(ngModel)]="service.formUser.EmployeeId" #EmployeeId="ngModel" class="form-control" style="width: 100%">
                </div>
              <div  class="col-sm-6" >
              </div>
                </div>

                <div class="form-group row">
                    <div  class="col-sm-2">
                        
                    </div>
                    <div  class="row col-sm-4" >
                      
                        
                       
                            <div class="col-sm-3">
      
                            </div>
                            <div class="col-sm-4"> 
                                    <button type="submit" class="btn btn-sl btn-block">Add</button> -->
                                <!-- <button id="btnSubmit" type="submit" style="float: right;width:90%">Add</button>             -->
                              <!-- </div>
                             
                                <div class="col-sm-5">                     
                                    <button id="btnReset" type="reset"  style="float: left;width:45%">Reset</button>
                                  </div>
                                  
                    </div>
                    
                    <div  class="col-sm-6" >
                    </div>
              
              
              </div>

</form> -->
<!-- <form>

        <div class="form-group row">
            <div  class="col-sm-2">
                
            </div>
            <div  class="row col-sm-5" style="border:solid" >                 
            </div>
            
            <div  class="col-sm-2" >
            </div>
      </div>
      <div class="form-group row">
       
        <div  class="row col-sm-2" >
        </div>

        <div  class="row col-sm-5" >
           

            <div class="col-sm-6">
                <input type="text" id="txtTask2" style="width: 50%;float:right">
        
            </div>
        
                <div class="col-sm-2">
                    <label for="lblTask" class="col-form-label" style="width: 50%;padding-right:100px;" >SortBy:</label>
                </div>
                
      
                    <div class="col-sm-2"> 
                        <button id="btnSubmit" type="submit" style="width: 100%">FirstName</button>            
                      </div>
                      <div class="col-sm-2"> 
                          <button id="btnSubmit" type="submit" style="width: 100%">LastName</button>            
                        </div>
                        <div class="col-sm-1"> 
                            <button id="btnSubmit" type="submit" style="width: 100%">Id</button>            
                          </div>

          </div>
          <div  class="row col-sm-5" >
        </div>
          </div>
        
     
</form> -->