.formRowAlignment
{

    padding-left: 250px;
}
.formGroupAlignment
{

    padding-left: 35px;
}
.formGroupAlignmentEmp
{

    padding-left: 20px;
}
.txtBoxWidth
{
    width:200%;
}
.txtBoxWidthEmp
{
    width:100%;
}
.formRowBtnAlignment
{
    padding-left: 500px;
}
.btnAlignmnet
{

    padding-left:430px;
}

.controlWidth
{
    width:30%;
}

.formGroupBtnAlignment
{

    padding-left: 50px;
}