<div class="jumbtron">
        <!-- <h1 class="display-4 text-center">
            Project Register
        </h1> -->
        <hr>
        <div class="row">
            <div class="col-md-12">
                    <app-project></app-project>
    
            </div>
          
        </div>
        <div class="row">
        <div class="col-md-12">
                <!-- <app-user></app-user> -->
    
                <app-projectlist>
                    
                </app-projectlist>
        </div>
        </div>
    </div>
    

<!-- 
<form>
    <div class="form-group row">
  <div  class="col-sm-2">
      <label for="lblTask" class="col-sm-1 col-form-label" style="padding-left: 200px;" >Project:</label>
  </div>
  <div  class="col-sm-5" >
      <input type="text" id="txtTask2" style="width: 95%"></div>
  <div  class="col-sm-5" >
  </div>
    </div>

  <div class="form-group row">
      <div  class="col-sm-2">
          
      </div>
      <div  class="row col-sm-5" >
        
          <div class="col-sm-6"> <input type="checkbox"   id="rangePriority"> Set Start Date and End Date</div>
          

              <div class="col-sm-3"> 
                  <button id="btnSubmit" type="submit" style="width: 90%">Start Date</button>            
                </div>
               
                  <div class="col-sm-3">                     
                      <button id="btnEndDate" type="submit"  style="float: right;width: 90%">End Date</button>
                    </div>
                   
      </div>
      
      <div  class="col-sm-5" >
      </div>


</div>
<div class="form-group row">
    <div  class="col-sm-2">
        <label for="lblTask" class="col-sm-1 col-form-label" style="padding-left: 200px;" >Priority:</label>
    </div>
    <div  class="col-sm-5" >
        <input type="range"  id="rangePriority"  style="width: 90%" >
    <div  class="col-sm-5" >
    </div>
      </div>
    </div>

    <div class="form-group row">
        <div  class="col-sm-2">
            <label for="lblTask" class="col-sm-1 col-form-label" style="padding-left: 200px;" >Manager:</label>
        </div>
        <div  class="row col-sm-5" >
            <div class="col-sm-9"> 
                <input type="text" id="txtTask2" style="width: 100%"></div>
            
            <div class="col-sm-3"> 
  
                <button id="btnSearch" type="submit" style="float: right;width:90%">Search</button>
               
             </div>  

            </div>
        <div  class="col-sm-2" >
        </div>
          </div>

          <div class="form-group row">
              <div  class="col-sm-2">
                  
              </div>
              <div  class="row col-sm-5" >
                
                  
                 
                      <div class="col-sm-6">

                      </div>
                      <div class="col-sm-3"> 
                          <button id="btnSubmit" type="submit" style="float: right;width:90%">Add</button>            
                        </div>
                       
                          <div class="col-sm-3">                     
                              <button id="btnReset" type="reset"  style="float: right;width:90%">Reset</button>
                            </div>
                            
              </div>
              
              <div  class="col-sm-2" >
              </div>
        
        
        </div>

        <div class="form-group row">
            <div  class="col-sm-2">
                
            </div>
            <div  class="row col-sm-5" style="border:solid" >                 
            </div>
            
            <div  class="col-sm-2" >
            </div>
      </div>
   
        
     
      <div class="form-group row">
          <div  class="col-sm-2">
              
          </div>
          <div  class="col-sm-5" >
              <input type="text" id="txtTask2" FormControlName="txtProject" placeholder="SearchProject" style="width: 95%"></div>
          <div  class="col-sm-5" >
          </div>
            </div>
        
   


            <div class="form-group row">
                <div  class="col-sm-2">
                    
                </div>
                <div  class="row col-sm-5" >
                  
                    <div class="col-sm-2">
                        <label for="lblTask" class="col-form-label" style="width: 50%" >SortBy:</label>
                    </div>
                    
          
                        <div class="col-sm-3"> 
                            <button id="btnSubmit" type="submit" style="width: 100%">Start Date</button>            
                          </div>
                          <div class="col-sm-2"> 
                              <button id="btnSubmit" type="submit" style="width: 100%">EndDate</button>            
                            </div>
                            <div class="col-sm-2"> 
                                <button id="btnSubmit" type="submit" style="width: 100%">Priority</button>            
                              </div>
                              <div class="col-sm-3"> 
                                  <button id="btnSubmit" type="submit" style="width: 100%">Completed</button>            
                                </div>
                         
                          
                             
                </div>
                
                <div  class="col-sm-5" >
                </div>   
            </div>         enddd
  -->
<!-- 
  <div class="form-group row btnAlignmnet">
    <button id="btnSubmit" type="submit">Add </button>
     <div class="col-sm-10">
         <button id="btnReset" type="reset">Reset</button>
     </div>
   </div>

  <div class="form-group row divAlignment">
    <label for="lblPriority" class="col-sm-1 col-form-label">Priority:</label>
    <div class="col-sm-11">
      <input type="range"  id="rangePriority"  class="controlWidth">
    </div>
  </div>
  <div class="form-group row divAlignment">
      <label for="lblParentTask" class="col-sm-1 col-form-label">Parent Task:</label>
      <div class="col-sm-11">
      <select id="drpdownParentTask" class="form-control controlWidth">
        <option selected>Parent Task1</option>
        <option>Parent Task1</option>
        <option>Parent Task2</option>
        <option>Parent Task3</option>
      </select>
    </div>
    </div>
    <div class="form-group row divAlignment">
        <label for="lblStartDate" class="col-sm-1 col-form-label">StartDate:</label>
        <div class="col-sm-11">
          <input type="date"  id="txtStartDate" class="controlWidth">
        </div>
      </div>
      <div class="form-group row divAlignment">
          <label for="lblEndDate" class="col-sm-1 col-form-label">EndDate:</label>
          <div class="col-sm-11">
            <input type="date"  id="txtEndDate" class="controlWidth">
          </div>
        </div>
        <div class="form-group row btnAlignmnet">
           <button id="btnSubmit" type="submit">Add Task</button>
            <div class="col-sm-10">
                <button id="btnReset" type="reset">Reset</button>
            </div>
          </div> -->

<!-- </form> -->